@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');

:root{
  --green: #00E77F;
  --white: #fff;
  --light-white: #aaa;
  --black: #3d3d3d;
  --light-bg: #4b4b4b;



}

*{
  font-family: 'Rubik', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: .2s linear;
  text-transform: capitalize;
}
*::selection{
  background-color: var(--white);
  color: var(--black);
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 8rem;
}

::-webkit-scrollbar{
  height: .5rem;
  width: 1rem;
}

::-webkit-scrollbar-track{
  background-color: transparent;
}
::-webkit-scrollbar-thumb{
  background-color: yellow;
  border-radius: 5rem;
}


body {
  background-color: var(--black);

  .Wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;

    .center {
      border: 1px solid var(--light-white);
      border-radius: 10px;
      padding: 15px;
      margin: 0 auto;
      max-width: 600px;

      h1 {
        text-align: center;
        padding: 0 0 20px 0;
        color: white;
        font-size: 34px;
      }

      form {
        box-sizing: border-box;
        padding: 14px;

        .txt_field {

          label {
            color: white;
            font-size: 24px;
            padding: 5px 0;
          }

          input {
            width: 100%;
            padding: 10px 4px;
            font-size: 17px;
          }
        }
      }

      .btn {
        text-align: center;

        button {
          margin-top: 10px;
          text-align: center;
          padding: 14px;
          border-radius: 30px;
          font-size: 20px;
          background-color: var(--light-bg);
          color: var(--light-white);
        }

      }
    }

  }


  @media (max-width: 768px) {


    .Wrapper {
      max-width: 1200px;
      margin: 0 auto;
      padding: 2rem;

      .center {
        border: 1px solid var(--light-white);
        border-radius: 10px;
        padding: 15px;
        margin: 0 auto;
        max-width: 600px;

        h1 {
          text-align: center;
          padding: 0 0 20px 0;
          color: white;
          font-size: 28px;
        }

        form {
          box-sizing: border-box;
          padding: 14px;

          .txt_field {

            label {
              color: white;
              font-size: 18px;
              padding: 5px 0;
            }

            input {
              width: 100%;
              padding: 7px 3px;
              font-size: 14px;
            }
          }
        }

        .btn {
          text-align: center;

          button {
            margin-top: 10px;
            text-align: center;
            padding: 7px;
            border-radius: 30px;
            font-size: 14px;
            background-color: var(--light-bg);
            color: var(--light-white);
          }

        }
      }
    }
  }

  @media (max-width: 450px){

    .Wrapper {
      max-width: 1200px;
      margin: 0 auto;
      padding: 2rem;

      .center {
        border: 1px solid var(--light-white);
        border-radius: 10px;
        padding: 15px;
        margin: 0 auto;
        max-width: 600px;

        h1 {
          text-align: center;
          padding: 0 0 20px 0;
          color: white;
          font-size: 18px;
        }

        form {
          box-sizing: border-box;
          padding: 14px;

          .txt_field {

            label {
              color: white;
              font-size: 14px;
              padding: 5px 0;
            }

            input {
              width: 100%;
              padding: 7px 3px;
              font-size: 12px;
            }
          }
        }

        .btn {
          text-align: center;

          button {
            margin-top: 10px;
            text-align: center;
            padding: 9px;
            border-radius: 30px;
            font-size: 11px;
            background-color: var(--light-bg);
            color: var(--light-white);
          }

        }
      }
    }
  }

}

